{% include "followerPage.html" %} {%block content%}

<ul class="list-froup list-group-flush" id="messages">
  {% for follower in followers%}
  <li>
    {% for account in accounts %} {% if account.id == follower.follower_id %} {%
    for profile in account.profile %}
    <img
      src="{{url_for('static', filename= 'img/' + account.profile_pic)}}"
      class="thumbnail_profile"
    />
    {% endfor %} {% endif %}{% endfor %}{{follower.follower_username}}
  </li>
  {% endfor %}
</ul>
{% endblock %}
